<div class="row">
  <h2> Meu Carrinho</h2>
</div>
<div class="row">
  <ul>
    <% @produtos.each do |produto| %>
      <li>
        <%= produto.name %> -R$ <%= produto.valor %>
      </li>
   <%end%>
  </ul>
</div>
<h2>
  Total: R$ <%= @produtos.sum(:valor) %>
</h2>

<div class="row" style="text-align: center">
  <h2>
    Gerar Boleto
    <a href="#">
      <img src="https://imagepng.org/wp-content/uploads/2019/09/boleto-simbolo.png" style="width: 150px"></a>
  </h2>

  <script type="text/javascript">
    var lanchonete = {}
    lanchonete.pagamentoCartao = function() {
      var pg_id = "0356A63D7B814C8CB330668A34A48CD6";

      Iugu.setTesMode(true);
      ugu.setAccountID(pg_id);
      Iugu.setup();

      cc = Iugu.CreditCard($("#number").val,$("#mes").val, $("#ano").val, $("#nome").val,$("#sobrenome").val, $("#cvv").val)

      Iugu.createPaymentToken(cc, function(data){
        if (data.errors){
          alert("erro ao gerar");
          console.log(data.errors);

        }else {
          var token = data.id
        }
      });
    }
  </script>

     <fieldset>
      <input type="hidden" id="nome" value="<%= cliente.nome_tratado %>">
      <input type="hidden" id="sobrenome" value="<%= cliente.sobrenome %>">

       <legend>Dados do cartão:</legend>
       Número do cartão: <input type="text" id="number"><br>
       Mês: <input type="number" id="mes"><br>
       Ano: <input type="number" id="ano"><br>
       Cvv: <input type="number" id="cvv"><br>
     </fieldset>


  <a href="javascript:;" onclick="lanchonete.pagamentoCartao()" class="btn btn-success" style= "width:100%; margin-bottom: 20px; font-size: 20px">Pagamento com cartão</a>
</div>
